<?xml version="1.0" encoding="UTF-8"?>


<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:jaxrs="http://cxf.apache.org/jaxrs"
	xmlns:cxf="http://cxf.apache.org/core"
	xmlns:jaxws="http://cxf.apache.org/jaxws"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xsi:schemaLocation="
			http://cxf.apache.org/core http://cxf.apache.org/schemas/core.xsd
			http://www.springframework.org/schema/beans 
			http://www.springframework.org/schema/beans/spring-beans.xsd
			http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd
			http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd" >
 
 	<import resource="classpath:META-INF/cxf/cxf.xml"/>
	<import resource="classpath:META-INF/cxf/cxf-servlet.xml"/>
	
	<cxf:bus>
        <cxf:features>
            <cxf:logging/>
        </cxf:features>
    </cxf:bus>
	
		<!-- configurations to set ssl truststore-->
	<bean id="certFileUrl" class="org.springframework.jndi.JndiObjectFactoryBean">
    	<property name="jndiName" value="java:comp/env/cert.file.url"/>
	</bean>
	
	<!-- configurations to get the stub using the endpoint url configured in context.xml-->
	<bean id="relateWSEndpointUrl" class="org.springframework.jndi.JndiObjectFactoryBean">
    	<property name="jndiName" value="java:comp/env/relate.ws.endpoint.url"/>
	</bean>
	<bean id="relateWSStub" class="com.dtv.csx.webservices.customer.CustomerServicesApiServiceStub" >
		<constructor-arg ref="relateWSEndpointUrl">
		</constructor-arg>
	</bean>
	<bean id="CustomerWebServiceManager" class="com.relateIntegration.relate.webservice.CustomerWebServiceManager">
		<property name="relateWSStub" ref="relateWSStub"/>
		<property name="certFileUrl" ref="certFileUrl"/>
	</bean>
	
	
	
	<!-- configurations for datasource -->
	<bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
    	<property name="jndiName" value="java:comp/env/jdbc/relateIntegrationDB"/>
	</bean>
	<bean id="rimUserDAO" class="com.relateIntegration.dao.impl.RIMUserDAOImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<bean id="phoneSubscriptionDAO" class="com.relateIntegration.dao.impl.PhoneSubscriptionDAOImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>
	 <bean id="daoManager" class="com.relateIntegration.dao.support.DAOManager">
		<property name="rimUserDAO" ref="rimUserDAO" />
		<property name="phoneSubscriptionDAO" ref="phoneSubscriptionDAO" />
	</bean>



	<bean id="applicationContextProvider" class="com.rim.integration.utils.ApplicationContextProvider"></bean>
	
	
 	<bean id="userMappingService" class="com.relateIntegration.services.impl.UserMappingServiceImpl"/>
	<bean id="jsonProvider" class="org.codehaus.jackson.jaxrs.JacksonJsonProvider"/>
	<jaxrs:server id="RIMRestService" address="/rest/RIM" >
  		<jaxrs:serviceBeans>
  			<ref bean="userMappingService"/>
  		</jaxrs:serviceBeans>
  		<jaxrs:providers>
			<ref bean='jsonProvider' />
		</jaxrs:providers>
  	</jaxrs:server>
 
</beans>